*  {
    background-color: rgb(48, 48, 48);
/*    color: white;*/
}

h1 {
    font-size: 60px;
    color: white;
}

h2 {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    color: white;
}

.button {
    font-size: 30px;
    margin-top: 2%;
    color: rgb(48, 48, 48);
    background-color: white;
    text-align: center;
}

#start {
    text-align: center;
    margin-top: 18%;
}

