*  {
    background-color: rgb(48, 48, 48);
/*    color: white;*/
}

h1 {
    font-size: 60px;
    color: white;
}

h2 {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    color: white;
}



#start {
    text-align: center;
    margin-top: 14%;
}

/*Used some of dropdown button code from w3schools: https://www.w3schools.com/howto/howto_css_dropdown.asp*/
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: rgb(48,48,48);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
    margin: 4%;
    padding-bottom: 70px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(48,48,48);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: mediumpurple;}

/*End of use of dropdown code*/

